# ==========================================
# Keil uVision 5 - Archivos a ignorar
# ==========================================

# Carpetas de salida de compilación estándar
Objects/
Listings/
DebugConfig/

# Archivos de compilación y enlazado
*.o
*.d
*.crf
*.htm
*.map
*.lnp
*.sct
*.dep
*.hex
*.bin
*.axf
*.elf
*.lst

# Archivos de configuración local del usuario (Ventanas, debug local)
*.uvgui.*
*.uvguix.*
*.uvoptx
*.bak

# Archivos temporales y de backup de Windows
*.tmp
*.bak
Thumbs.db